:root {
    --sfondo: #011212;
    --palla: #ff8800;
}





body {
    background-color: var(--sfondo);
}

.ball {
    width: 100px;
    height: 100px;
    background-color: var(--palla);
    border-radius: 50px;
}
